
nav.navbar.bg-custom {
    background-color: #28F0CF;
    a.navbar-brand,
    a.nav-link {
        color: #000000;
    }
}
/* Hero Section */
div.row.hero {
    padding-top: 58px;
    div.col:nth-child(1) {
        background-color: #28F0CF;
        height: 680px;
        a.btn.bg-custom {
            background-color: #000;
            color: #28F0CF;
        }
    }
    div.col:nth-child(2) {
        background:  url(../images/foto2.png.jpg) no-repeat center bottom;
        background-size: 480px;
        height: 680px;
    }
}
/* About */
div.row.about {
    padding-top: 0px;
    div.col:nth-child(2) {
        background-color: #fff;
        height: 680px;
        a.btn.bg-custom {
            background-color: #404040;
        }
        .progress-bar.bg-custom {
            background-color: #28F0CF;
        }
    }
    div.col:nth-child(1) {
        background:  url(../images/foto1.png.jpg) no-repeat center bottom;
        background-size: 480px;
        height: 680px;
    }
}